body {
    height: 100%;
    width: 100%;
}
.list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.movie {
    width: 400px;
    margin: 30px;
    padding: 10px;
    border: solid 10px skyblue;
}